body {
  color: white;
  background-color: white;
  background-image: url("images/me.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #fdb632;
  font-family: 'Roboto Mono';
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 38px;
  text-shadow: 0 1px 0 #aaa;
  letter-spacing: 6px;
  /*padding-left: 20%;*/
  text-align: center;
  /*padding-right: 25%;*/
}


/*h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;

}*/


h3 {
  color: #7C7878;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;
  /*padding-left: 20%;*/
  /*padding-right: 25%;*/
  text-align: center;
}

a {
  color: #94979A;
}

.intro {
  padding-top: 3%;
  /*padding-top: 125px;*/
  padding-left: 40%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.contact-links {
  letter-spacing: 8px;
  text-align: center;
  color: black;
}

.fa {
  font-size: 27px;
}

.navbar-brand{
  font-family: 'Roboto Mono'
}

.nav.navbar-nav.navbar-right li a {
  color: white;
  /*font-family: 'Roboto Mono';*/
}

.navbar-brand {
  color: #fdb632;
  font-size: 28px;
}


div.transbox {
    margin: 20px;
    background-color: #ffffff;
    /*border: 1px solid black;*/
    opacity: 0.7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 10%;
}

/*@media (max-width: 731px) {
  h1 {
    font-size: 42px;
    text-align: center;
    line-height: 42px;
  }*/

}