body {
  color: white;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #ed624b;
  font-family: 'Roboto Mono';
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  line-height: 38px;
  text-shadow: 0 1px 0 #aaa;
  letter-spacing: 6px;
  padding-left: 20%;
  /*padding-right: 25%;*/
}


/*h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;

}*/


h3 {
  color: #7C7878;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  line-height: 20px;
  padding-left: 20%;
  padding-right: 25%;
}

a {
  color: #94979A;
}

.intro {
  padding-top: 5%;
  /*padding-top: 125px;*/
  padding-left: 25%;
  padding-right: 75px;
}

.contact-links {
  letter-spacing: 8px;
  text-align: center;
  color: black;
}

.fa {
  font-size: 27px;
}

.navbar-brand{
  font-family: 'Roboto Mono'
}

.nav.navbar-nav.navbar-right li a {
  color: #7C7878;
  /*font-family: 'Roboto Mono';*/
}

.navbar-brand{
  color: #fdb632;
  font-size: 28px;
}


/*@media (max-width: 731px) {
  h1 {
    font-size: 42px;
    text-align: center;
    line-height: 42px;
  }*/

}

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Space Mono';
    font-size: 12px;
    color: #7C7878;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #ed624b;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}